
SUPABASE_URL=https://menacankbgimfcovxpmh.supabase.co
SUPABASE_KEY=sb_publishable_0KX3cdA80un6UNzaZ8-QEQ_HFF3MP-0
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1lbmFjYW5rYmdpbWZjb3Z4cG1oIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI5MjM1NSwiZXhwIjoyMDkwODY4MzU1fQ.DXG8gwEtWLOLPgxrczDq_qNsjg_txL0kxvlg2zYRiCk
SUPABASE_JWT_SECRET=super-secret-jwt-token-with-at-least-32-characters-long
GROQ_API_KEY=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
FRONTEND_URL=http://localhost:3000
VBOXMANAGE_PATH=C:\Program Files\Oracle\VirtualBox\VBoxManage.exe
VM_STORAGE_PATH=
